---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import TagList from "../components/TagList.astro";
import BaseLayout from "./BaseLayout.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, pubDate, updatedDate, heroImage, tags } = Astro.props;
---

<BaseLayout page_title={title}>
  <main>
    <article>
      {heroImage && <img width={720} height={360} src={heroImage} alt="" />}
      <h1 class="title">{title}</h1>
      <FormattedDate date={pubDate} />
      {
        updatedDate && (
          <div class="last-updated-on">
            Last updated on <FormattedDate date={updatedDate} />
          </div>
        )
      }
      <TagList tags={tags} />
      <hr />
      <slot />
    </article>
  </main>
</BaseLayout>

<style>
  .title {
    font-size: 2em;
    margin: 0.25em 0 0;
  }
  hr {
    border-top: 1px solid #ddd;
    margin: 1rem 0 2rem;
  }
  .last-updated-on {
    font-style: italic;
  }
</style>
